body {
  max-width: 1300px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 2px solid;
}
h1 {
  text-align: center;
}
.social img {
  height: 50px;
  width: 50px;
}
#search {
  text-align: right;
}
.video {
  width: 600px;
  height: 400px;
}
.container2 img {
  width: 400px;
  height: 340px;
}
.container1,
.container3 {
  display: flex;
  flex-direction: row;
}

#map,
#form {
  width: 100%;
}
